# Credentials and Secrets
b_dev/bitcoin_server/secrets.json
b_dev/bitcoin_server/virtual_account.json
*upbit_setting.json
*kakao_setting.json

# Cache and Logs
__pycache__/
*.pyc
b_dev/bitcoin_server/Log/*.log
